#vivienneSaboPresentation
    .presentation
        .presentation__icons
            .presentation__icons_top
                .icon.icon_1
                    .image
                .icon.icon_2
                    .image
            .presentation__icons_mid
                .icon.icon_3
                    .image
                .icon.icon_4
                    .image
            .presentation__icons_bot
                .icon.icon_5
                    .image
                .icon.icon_67
                    .image
        .presentation__info
            .light_text
                p.text Модный&nbsp;дом
            .vivienne_sabo
                p.text VIVIENNE&nbsp;SABO&#x301;
                p.text PARIS
            .light_text
                p.text представляет&nbsp;коллекцию
            .hante_conture
                p.text Haute&nbsp;Couture
            .text_years
                p.text 2021/2022
        .presentation__image
            .image
