#vivienneSaboPremiere
    .premiere
        .premiere__info
            .vivienne_sabo
                p.text VIVIENNE&nbsp;SABO&#x301;
                p.text PARIS
            .light_text
                p.text ПРЕМЬЕРА&nbsp;КОЛЛЕКЦИИ
            .hante_conture
                p.text Haute&nbsp;Couture
            .text_years
                p.text 2021-2022
        #videoContainer.premiere__video(data-video-id="1pYekttZOBg")
            img#videoPreview.premiere__preview
