#vivienneSaboTryOn
    .tryOn
        .tryOn__top
            .vivienne_sabo
                p.text VIVIENNE&nbsp;&nbsp;SABO&#x301;
                p.text PARIS
        .tryOn__mid
            .tryOn__mid_text
                .light_text
                    p.text
                        | Получи&nbsp;свой 
                        br.br
                        | виртуальный&nbsp;наряд
                        br.br
                        | HAUTE&nbsp;COUTURE
            .tryOn__mid_garb
                .garb.garb_1
                    .image
                .garb.garb_2
                   .image
                .garb.garb_3
                    .image
                .garb.garb_4
                    .image
            .tryOn__mid_icons
                .icons_top
                    .icon.icon_1
                        .image
                    .icon.icon_2
                        .image
                    .icon.icon_3
                        .image
                    .icon.icon_4
                       .image
                .icons_bot
                    .icon.icon_56
                        .image
                    .icon.icon_7
                        .image
        .tryOn__button
            a.button(href='https://hautecouture.viviennesabo.com/') ПРИМЕРИТЬ
