@font-face {
    font-family: 'jadynMaria';
    src: url('../fonts/Jadyn-Maria.eot');
    src: url('../fonts/Jadyn-Maria.woff2') format('woff2'), url('../fonts/Jadyn-Maria.woff') format('woff'), url('../fonts/Jadyn-Maria.ttf') format('truetype'), url('../fonts/Jadyn-Maria.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'jadynMaria';
    src: url('../fonts/Jadyn-Maria.eot');
    src: url('../fonts/Jadyn-Maria.woff2') format('woff2'), url('../fonts/Jadyn-Maria.woff') format('woff'), url('../fonts/Jadyn-Maria.ttf') format('truetype'), url('../fonts/Jadyn-Maria.eot?#iefix') format('embedded-opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'LondonFont';
    src: url('../fonts/LondonNineteenSixty.eot');
    src: url('../fonts/LondonNineteenSixty.woff2') format('woff2'), url('../fonts/LondonNineteenSixty.woff') format('woff'), url('../fonts/LondonNineteenSixty.ttf') format('truetype'), url('../fonts/LondonNineteenSixty.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LondonFont';
    src: url('../fonts/LondonNineteenSixty.eot');
    src: url('../fonts/LondonNineteenSixty.woff2') format('woff2'), url('../fonts/LondonNineteenSixty.woff') format('woff'), url('../fonts/LondonNineteenSixty.ttf') format('truetype'), url('../fonts/LondonNineteenSixty.eot?#iefix') format('embedded-opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ParisFont';
    src: url('../fonts/ParisNineteenEighty.eot');
    src: url('../fonts/ParisNineteenEighty.woff2') format('woff2'), url('../fonts/ParisNineteenEighty.woff') format('woff'), url('../fonts/ParisNineteenEighty.ttf') format('truetype'), url('../fonts/ParisNineteenEighty.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ParisFont';
    src: url('../fonts/ParisNineteenEighty.eot');
    src: url('../fonts/ParisNineteenEighty.woff2') format('woff2'), url('../fonts/ParisNineteenEighty.woff') format('woff'), url('../fonts/ParisNineteenEighty.ttf') format('truetype'), url('../fonts/ParisNineteenEighty.eot?#iefix') format('embedded-opentype');
    font-weight: 300;
    font-style: normal;
}